@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

body, html, td, tr {
  height: 100%;
  background-color: #16181b;
  color: #eeeeee;
}

.dark-title-t{
  border: none;
  border-top: #412665;
}

.dark-title{
  background: #23272b;
  border: none;
}

.title{
  color: #1d2124;
}

.card{
  width: 22rem;
  background-color: #23272b;
  border-color: transparent;
  color: #eeeeee;
}

.button-purple, .btn-primary{
  width: auto;
  background: rebeccapurple;
  border: none;
  border-radius: 15px;
}

.button-purple, .btn-primary:hover{
  background: rebeccapurple;
  -webkit-filter: brightness(120%);
  transition: all 0.1s;
  border: none;
}

.link-a{
   color: rebeccapurple;
   font-size: 16px;
   border: 1px solid;
   border-radius: 25px;
   height: 50px;
   font-weight: bolder;
   width: auto;
   vertical-align: center;
 }

.link-a:hover{
  color: rebeccapurple;
  -webkit-filter: brightness(120%);
  background: #1d2124;
  transition: all 0.2s;
}

.link-a-s{
  color: rebeccapurple;
  font-size: 16px;
  border: 1px solid;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 25px;
  height: 30px;
  font-weight: bolder;
  vertical-align: center;
}

.link-a-s:hover{
  color: rebeccapurple;
  -webkit-filter: brightness(120%);
  background: #1d2124;
  transition: all 0.2s;
}


.link-a-fill{
  background: rebeccapurple;
  color: #d6d8d9;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bolder;
  border-radius: 30px;
  transition: all 0.2s;
  height: 40px;
  vertical-align: center;
}

.link-a-fill:hover{
  -webkit-filter: brightness(120%);
  color: #d6d8d9;
  transition: all 0.2s;
}


.link-a-fill-l{
  background: rebeccapurple;
  color: #d6d8d9;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bolder;
  border-radius: 30px;
  transition: all 0.2s;
  height: 50px;
  vertical-align: center;
}

.link-a-fill-l:hover{
  -webkit-filter: brightness(120%);
  color: #d6d8d9;
  transition: all 0.2s;
}

.link-a-l{
  background: transparent;
  color: #d6d8d9;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bolder;
  border-radius: 30px;
  transition: all 0.2s;
  height: 50px;
  border: 1px solid mediumpurple;
  width: auto;
  vertical-align: center;
}

.link-a-l:hover{
  -webkit-filter: brightness(120%);
  color: #d6d8d9;
  border: 2px solid mediumpurple;
  transition: all 0.4s;
}


.like{
  color: #dc3545;
}

.dislike:hover{
  color: #dc3545;
}

.delete{
  transition: all 0.2s;
}

.delete:hover {
  color: #721c24;
  transition: all 0.2s;
}

.td-title{
  font-size: 20px;
  color: #d6d8d9;
}

.purple-p{
  color: #868e96;
}

.file-class{
  color: #868e96;
}

.number{
  font-size: 24px;
}

.newInput{
  /*color: #412665;*/
  border-radius: 30px;
  color: #d6d8d9;
  border: none;
  border-bottom: #23272b;
  background:#343a40;
  border-bottom:1px solid #434a52;
  box-shadow:none;
  outline:none;
}

.newInput:focus{
  /*color: #412665;*/
  background:#343a40;
  border-radius: 30px;
  color: #d6d8d9;
  border-color: #412665;
}

.pagin-div{
  background-color: #23272b;
  border: none;
}

.curr-pagin-elem{
  background-color: #23272b;
  color: #d6d8d9;
  border: none;
}

.pagin-elem{
  background-color: #343a40;
  color: #d6d8d9;
  border: none;
}
.pagin-elem:hover{
  background-color: #23272b;
  color: #d6d8d9;
  border: none;
}

.login-dark {
  background-size:cover;
}

.login-dark form {
  background-color:#1e2833;
  transform:translate(-50%, -50%);
  color:#fff;
}

.login-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#2980ef;
}

.login-dark form .form-control1 {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.login-dark form .form-control1:active {
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}


.login-dark form .btn-prim {
  background:#214a80;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.login-dark form .btn-prim:hover, .login-dark form .btn-prim:active {
  background:#214a80;
  outline:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
}

.login-dark form .btn-prim:active {
  transform:translateY(1px);
}


/*---------------------------------------------*/

a {
	font-size: 16px;
	line-height: 1.7;
	color: #666666;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

a:focus {
	outline: none !important;
}

a:hover {
  text-decoration: none;
  color: rebeccapurple;
  /*color: #dc3545;*/
}


p {
	font-size: 16px;
	line-height: 1.7;
	color: #666666;
}

ul, li {
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  /*font-family: Poppins-Regular;*/
  font-size: 14px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  /*font-family: Poppins-Regular;*/
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  height: 100%;
}

.container-login100 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 70px 0px 70px;
  /*padding: 50px;*/
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.login100-form {
  margin-top: 50px;
  width: 500px;
}

.login100-form-title {
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.login100-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

